.TopBar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 1;
  background: #7aa2c3;
  }

.topBarContainer {
  display: flex;
  justify-content: space-between;
  width: 1670px;
  align-items: stretch;
  overflow: hidden;
}
.topBarContainer >div {
  flex-basis: 0;
  flex-grow: 1;
}

.topNav a{
  color: #eee;
  font-weight: bold;
  text-decoration: none;
  font-family: 'BPG Nateli Mtavruli', sans-serif;
  padding: 0px 5px;
  margin: 0px 5px;
  display: inline-flex;
  height: 100%;
  align-items: center;
  box-sizing: border-box;

}

.topNav a:hover{
  color: #fff;
  border-bottom: 6px solid white;

}

.topNav a.active{
  color: #fff;
  border-bottom: 8px solid white;
}