.Content {
    display: flex;
    flex-wrap: wrap;
    max-width: 1350px;
    margin: auto;
    gap: 20px;
    justify-content: center;
    margin-top: 30px;
}
.Content > div {
    height: 200px;
    min-width: 300px;
    max-width: 30%;
    flex-grow: 1;
    background-color:#eeeeee;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    position: relative;

}
.documentYear {
    position: absolute;
    top: 0;
    right: 0;
    font-size: small;
    background-color:#e0e0e0;
    padding: 3px 8px;
    border-radius: 6px;

}
.documentDepartment {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: small;
    background-color:#e0e0e0;
    padding: 3px 8px;
    border-radius: 6px;
}