.Header {
  flex-direction: row;
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
  margin: auto;
  margin-top: 30px;
  color: #323232;
  background-color: white;
  max-width: 1350px;
  height: 420px;
  padding: 30px 10px;
}

.Header .HeaderMiddle {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 600px;
  padding: 0px 20px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  align-items: center;
}

.Header .cat {
  background-color: transparent
}

.Header .cat.active {
  border: 1px solid #AAA;
  background-color: #EEE;
}