.Header {
  flex-direction: row;
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
  margin: auto;
  margin-top: 30px;
  color: #1a1b1e;
  background-color: white;
  max-width: 1350px;
  height: 420px;
  padding: 30px 10px;
  cursor: default;
  font-family: 'BPG Nateli Mtavruli', sans-serif;
}

.Header .HeaderMiddle {
  width: 600px;
  padding: 0px 20px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
.HeaderSearchContainer {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 60px;
}
.HeaderSearchContainer h1{
  margin: 0;
}
.Header > div{
  flex-shrink: 0;
  flex-basis: 0;
  flex-grow: 1;
  overflow: auto;
}
.Header > div > .catContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}

.Header .cat,.Header .subCat, .Header .subSubCat {
  background-color: transparent;
  cursor: pointer;
  padding: 10px 15px;
  margin-bottom: 10px;
  border-radius: 8px;
  border: 2px solid rgb(102 175 233 / 30%);
  width: 200px;
  
}
.Header .cat:hover,.Header .subCat:hover, .Header .subSubCat:hover {
 background-color: #F0F8FF;
}

.Header .cat.active,.Header .subCat.active, .Header .subSubCat.active {
  background: rgb(102 175 233 / 30%);
}

