.nav {
  flex-direction: column;
  display: flex;
  cursor: default;
  font-family: 'BPG Nateli Mtavruli', sans-serif;
  width: 300px;
  justify-content: left;

}

.nav .navMiddle {
  padding: 0px 20px;
}

.depBar {
  display: flex;
  position: left;
}
.yearBar {
  display: flex;
  position: left;
}
.departmentsBars{
  max-width: 300px;
  margin: 0px;
}
/* .nav > div > .catContainer{
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  min-height: 100%;
} */

.nav .cat,.nav .subCat, .nav .subSubCat {
  background-color: transparent;
  cursor: pointer;
  padding: 10px 15px;
  /* margin-bottom: 10px; */
  /* border-radius: 8px; */
  /* border: 2px solid rgb(102 175 233 / 30%); */
  
}
.nav .cat:hover,.nav .subCat:hover, .nav .subSubCat:hover {
 background-color: rgba(0, 80, 146, 0.05);
}

.nav .cat.active{
  /* background: rgb(102 175 233 / 30%); */
  border-left: 4px solid rgba(0, 80, 146, 0.5);
  color: rgba(0, 80, 146, 1);
}

.nav .subCat.active, .nav .subSubCat.active{
  color: rgba(0, 80, 146, 1);
  font-weight: bold;
} 

.sideBarContainer{
  width: 320px;
  flex-shrink: 0;
}
.sideBar{
  position: fixed;
  overflow: auto;
  max-height: calc(100% - 37px);
  top: 37px;
}

.dropdownContainer{
  margin: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.cat .active{
  display: flex;
  right: 100px;
}

.nav .cat{
  font-weight: bold;
  border-left: 4px solid transparent;
}

.nav .subCat {
  font-family: 'BPG Nateli',sans-serif;
  font-size: 16px;
  padding-left: 30px;
}

.nav .subSubCat {
  font-family: 'BPG Nateli',sans-serif;
  font-size: 14px;
  padding-left: 50px;
}
