.search {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  max-width: 400px;
  margin: 5px 0px;
}

.search input {
  padding: 5px 10px;
  border-radius: 30px;
  border: 1px solid #ccc;
  width: 100%;

}

.search input:focus {
  box-shadow: 0 0 8px rgb(102 175 233 / 30%);
  outline: none;
  border-color: rgb(102 175 233 / 30%);
}

.search img {
  height: 18px;
  position: absolute;
  right: 10px;
}
